.table-abstract1 {
    border: 10px solid #3F3F3F;
    margin: 10px auto;
    border-collapse: collapse;
}

.border-cell-inner {
    border: 5px solid #3F3F3F;
}

.span-2x2 {
    width: 60px;
    height: 60px;
}

.span-3x2 {
    width: 90px;
    height: 60px;
}

.span-3x4 {
    width: 90px;
    height: 120px;
}

.span-3x6 {
    width: 90px;
    height: 180px;
}

.span-4x2 {
    width: 120px;
    height: 60px;
}

.span-4x4 {
    width: 120px;
    height: 120px;
}

.span-6x2 {
    width: 180px;
    height: 60px;
}

.span-6x4 {
    width: 180px;
    height: 120px;
}

.span-7x2 {
    width: 210px;
    height: 60px;
}

.span-8x8 {
    width: 240px;
    height: 240px;
}

.cell-blue {
    background-color: #0F80BD;
}

.cell-white {
    background-color: #F3F3F3;
}

.cell-black {
    background-color: #020202;
}

.cell-yellow {
    background-color: #FAE319;
}

.cell-red {
    background-color: #F51111;
}
